<!DOCTYPE HTML>

{% load navigation_tags %}
{% load blog_tags %}

<html>

    <head>
        <title>development - catntent</title>

        <meta charset="utf-8">

        <link href="{{ STATIC_URL }}css/main.css" media="all" rel="stylesheet" type="text/css" />
    </head>

    <body>
    
        <div id="header">
            <p>catntent</p>
        </div>
        <!--header-->
        
        <div id="sidebar">
            <h4>Modules</h4>
            {% navigation "main" %}
        </div>
        <!--sidebar-->
        
        <div id="content">
            {% block content %}<p>no content!</p>{% endblock %}
        </div>
        <!--content-->
        
        <div id="tags">
            <h4>Blog-Category</h4>
            {% categories %}
            <h4>Blog-Tags</h4>
            {% tags %}
        </div>
        <!--tags-->
        
        <div class="clearer"></div>
                
    </body>

</html>