{% extends "portfolio/_base.html" %}


{% block content %}

    <div class="intro">
        <h1>{{ project.name }}</h1>
        {% if project.jobs.all|length > 0%}
        <p>
            {% for job in project.jobs.all %}
                {{ job.name }}{% if not forloop.last %}, {% endif%}
            {% endfor %}
        </p>
        {% endif %}
    </div>
    
    {% for shot in project.shots.all %}
        <p class="shot"><img src="{{ MEDIA_URL }}{{ shot }}" width="600" alt="{{ shot.name }}" /></p>
    {% endfor %}

    <div class="box">
        {{ project.description|safe }}
    </div>

    {% if project.jobs.all|length > 0%}
    <div class="box">
        <h2>Technische Details</h2>
        <ul>
        {% for job in project.jobs.all %}
            <li>{{ job.name }} <span>({{ job.tech.name }})</span></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if project.customer.testimonial %}
    <div class="box">
        <h2>Testimonial</h2>
        {{ project.customer.testimonial.statement|safe }}
        <p>by: {{ project.customer.contact }} ({{ project.customer.title }})</p>
    </div>
    {% endif %}

{% endblock %}