<!DOCTYPE html>

<html>

    <head>
        <title>catntent Admin Interface</title>
        <link href="../static/dashboard/css/main.css" media="screen" rel="stylesheet" type="text/css" />
        <meta charset="UTF-8" />
    </head>

    <body>
        
        <div id="modules">

            <div id="logo">
                logo!
            </div>
            <!--logo-->

            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Message</a></li>
                <li><a href="#" class="active">Pages</a></li>
                <li><a href="#">Portfolio</a></li>
            </ul>

            <ul>
                <li><a href="#">Navigation</a></li>
            </ul>

        </div>
        <!--modules-->

        <div id="menu">
            <h1>Pages</h1>
            <p>Manage your content.</p>
            <ul>
                <li><a href="#" class="active"><i class="icon-align-justify"></i> Edit pages</a></li>
                <li><a href="#"><i class="icon-file"></i> Create page</a></li>
            </ul>
        </div>
        <!--menu-->

        <div id="content">
            <h1><i class="icon-align-justify"></i> A list of all your pages</h1>

            <p>Select a page to edit or delete it. Pages with a <i class="icon-ok"></i> sign are published,
                pages with a <i class="icon-minus"></i> are currently not published and not visible to
                the world.</p>

            <ul class="objectlist">
                <li><a href="#">Static Site 1 asdf asdf <i class="icon-ok icon-large"></i></a></li>
                <li class="uneven"><a href="#">Static Site 2 <i class="icon-minus icon-large"></i></a></li>
                <li><a href="#">Static Site 1 <i class="icon-ok icon-large"></i></a></li>
                <li class="uneven"><a href="#">Static Site 2 asdf asdfasdf <i class="icon-ok icon-large"></i></a></li>
                <li><a href="#">Static Site 1 adsf<i class="icon-ok icon-large"></i></a></li>
                <li class="uneven"><a href="#">Static Site 2adfs asdf <i class="icon-ok icon-large"></i></a></li>
                <li><a href="#">Static Site 1 <i class="icon-ok icon-large"></i></a></li>
                <li class="uneven"><a href="#">Static Site 2 asdfasdfasd asdfjsadklfj sakldfö jaskldf jksladf klsaödfjsalkdf
                    sadklfj sadlökfj sadklöfj asldkf jasd<i class="icon-ok icon-large"></i></a></li>
                <li><a href="#">Static <i class="icon-ok icon-large"></i></a></li>
                <li class="uneven"><a href="#">Static Site 2 asdfasdfasdf<i class="icon-minus icon-large"></i></a></li>
                <li><a href="#">Static Site 1 <i class="icon-ok icon-large"></i></a></li>
                <li class="uneven"><a href="#">Static Site 2 <i class="icon-minus icon-large"></i></a></li>
            </ul>
        </div>
        <!--content-->

        <div class="clearer"></div>

    </body>

</html>
